{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% unless has_sidebar and settings[sidebar_template] %}
	</div>
</div>
</div>
{% endunless %}

{% assign is-product-list = false %}