{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% capture translation %}
  {% assign setting_key = __localize | replace: '&nbsp;','-' | strip_html | handleize | downcase %}
  
  {% unless settings.localizations == blank %}
  {% assign localizations = settings.localizations | split: ',' %}
  {% assign localized = "" %}
  {% for l in localizations %}
  {% assign key = l | split: ':' | first | strip %}
  {% assign value = l | split: ':' | last | strip %}
  {% if key == setting_key %}
    {% assign localized = value | remove: '"' %}
  {% endif %}
  {% endfor %}
  {% endunless %}
  
  {% if localized == blank %}
    {{ __localize }}
  {% else %}
    {{ localized }}
  {% endif %}
{% endcapture %}{{ translation | strip }}