{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% capture strip_space %}
{% assign col-xs = 12 | divided_by: settings.thumbnails-per-row-mobile %}
{% assign col-sm = 12 | divided_by: settings.thumbnails-per-row-tablet %}
{% assign col-md = 12 | divided_by: settings.thumbnails-per-row-laptop %}
{% assign col-lg = 12 | divided_by: settings.thumbnails-per-row-desktop %}
  
{% endcapture %}{% unless thumbnails_disabled %}col-xs-{{ col-xs }} col-sm-{{ col-sm }} col-md-{{ col-md }} col-lg-{{ col-lg }}{% endunless %}