{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% if settings.show-meta %}
	<ul class="article-meta">
	  <li>
		{% include '__localize' with 'Published on' %} {{ article-meta.published_at | date: settings.long-date-format }}{% if settings.show-author %} by {{ article-meta.author }}{% endif %}.
	  </li>
	  {% if article-meta.tags.size > 0 %}
	  <li>
		<i class="fa fa-tags"></i>
		{% for tag in article-meta.tags %}
		  {{ tag | link_to_tag: tag }}{% unless forloop.last %},{% endunless %}
		{% endfor %}
	  </li>
	  {% endif %}
	  {% if article-meta.comments_enabled? %}
	  <li>
		<i class="fa fa-comments"></i>
		{% if template == 'article' %}
		  <a href="#article-comments">{{ article-meta.comments_count }} Comments</a>
		{% else %}
		  {{ article-meta.comments_count }} Comments
		{% endif %}
	  </li>
	  {% endif %}
	</ul>
{% endif %}