{% if builder_section == 'scripts' %}
    <script>
        var BOLD = BOLD || {};

        {% assign nameLimit = 12 %}

        {% for tag in product.tags %}
            {% if tag contains 'jersey_name_limit-' %}
                {% assign nameLimit = tag | remove: 'jersey_name_limit-' %}
            {% endif %}
        {% endfor %}

        BOLD.JerseyBuilderConfig = {
            nameLimit: {{ nameLimit }},
            numberFormat: "{%- for tag in product.tags -%}{%- if tag contains 'jersey_numbers-' -%}{{- tag | remove: 'jersey_numbers-' -}}{%- endif -%}{%- endfor -%}",
            specialNumberFormat: "{%- for tag in product.tags -%}{%- if tag contains 'jersey_special_numbers' -%}{{- tag | remove: 'jersey_special_numbers-' -}}{%- endif -%}{%- endfor -%}",
            specialNumbers: {%- if product.tags contains 'jersey_special-numbers' -%}true{%- else -%}false{%- endif -%},
            nameColor: "{%- for tag in product.tags -%}{%- if tag contains 'jersey_name-' -%}{{- tag | remove: 'jersey_name-' -}}{%- endif -%}{%- endfor -%}"
        }
    </script>
    {{ 'bold-jersey-builder.js' | asset_url | script_tag }}
{% elsif builder_section == 'form' %}
    {% assign numberFormat = '' %}
    {% assign specialNumberFormat = '' %}
    {% assign nameColor = 'black' %}

    {% for tag in product.tags %}
        {% if tag contains 'jersey_numbers-' %}
            {% capture numberFormat %}{{ tag | remove: 'jersey_numbers-' }}{% endcapture %}
        {% elsif tag contains 'jersey_special_numbers' %}
            {% capture specialNumberFormat %}{{ tag | remove: 'jersey_special_numbers-' }}{% endcapture %}
        {% elsif tag contains 'jersey_name-' %}
            {% assign nameColor = tag | remove: 'jersey_name-' %}
        {% endif %}
    {% endfor %}

    {% comment %} {{ numberFormat | json }}<br />{{ specialNumberFormat | json }}<br />{{ nameColor | json }}<br /> {% endcomment %}

    {% comment %}Preload Fonts{% endcomment %}
        {{ 'jersey-fonts.css' | asset_url | stylesheet_tag }}
        <style>
            {% if settings['font-filename'] %}
                {% capture font_filename %}{{ settings['font-filename'] }}{% endcapture %}
                @font-face {
                    font-family: 'jersey-font';
                    src: url(' {{ font_filename | file_url }} '),
                        url(' {{ font_filename | file_url | replace: '.ttf', '.eot' }} ') format('embedded-opentype');
                    font-weight: normal;
                    font-style: normal;
                }
            {% endif %}
        </style>
        <div style="display: none;">
            {% for i in (0..9) %}
                {% assign image_name = numberFormat | replace: '#', i %}
                <img src="{{ image_name | file_url }}" class="numbers" data-number="{{ i }}" />
            {% endfor %}

            {% if specialNumberFormat != '' %}
                {% for i in (0..9) %}
                    {% assign image_name = specialNumberFormat | replace: '#', i %}
                    <img src="{{ image_name | file_url }}" class="special-numbers" data-number="{{ i }}" />
                {% endfor %}
            {% endif %}

            {% if settings['font-filename'] %}
                {% capture font_filename %}{{ settings['font-filename'] }}{% endcapture %}
                <h1 style="font-family: 'jersey-font';">1234567890</h1>
            {% endif %}
        </div>
    {% comment %}End preloading fonts{% endcomment %}

    <div class="bold_bundle_container">
        <div class="bold_options"></div>
        <div class="divider">
            <p>Or</p>
        </div>
        <p>Enter Custom Name and Number</p>
        <div class="bold_bundle_customization">
            <input name="properties[name]" type="text" value="" class="custom-name" placeholder="Enter Name"/>
            <input name="properties[number]" type="text" value="" class="custom-number" placeholder="Enter Number"/>
        </div>
    </div>

{% elsif builder_section == 'predesigned' %}
    {% assign predesigned = null %}
    {% for tag in product.tags %}
        {% if tag contains 'predesigned-' %}
            {% assign predesigned = tag | remove: 'predesigned-' | split: '-' %}
        {% endif %}
    {% endfor %}

    <input type="hidden" name="properties[Personalization2]" value="{{ predesigned | first }}"/>
    <input type="hidden" name="properties[Personalization3]" value="{{ predesigned | last }}"/>
{% elsif builder_section == 'image' %}
    {% assign nameColor = 'black' %}
    {% assign jerseyNameTop = null %}
    {% assign jerseyNameFontsize = null %}
    {% assign jerseyNumberTop = null %}
    {% assign jerseyNumberHeight = null %}
    {% for tag in product.tags %}
        {% if tag contains 'jersey_name_position' %}
            {% assign jerseyNameTop = tag | remove: 'jersey_name_position-' | split: '-' | first | append: '%' %}
            {% assign jerseyNameFontsize = tag | remove: 'jersey_name_position-' | split: '-' | last | append: 'px' %}
        {% endif %}
        {% if tag contains 'jersey_numbers_position' %}
            {% assign jerseyNumberTop = tag | remove: 'jersey_numbers_position-' | split: '-' | first | append: '%' %}
            {% assign jerseyNumberHeight = tag | remove: 'jersey_numbers_position-' | split: '-' | last | append: '%' %}
        {% endif %}
    {% endfor %}

    {% for tag in product.tags %}
        {% if tag contains 'jersey_name-' %}
            {% assign nameColor = tag | remove: 'jersey_name-' %}
        {% endif %}
    {% endfor %}

    <div class="col-xs-12 col-sm-12">
        <div class="thumbnail product-main-image jersey-builder-main-image" data-product-id="{{ product.id }}">
            {{ product.images.last | img_url: 'grande' | img_tag }}
            <div class="jersey-builder-name" style="color: {{ nameColor }};{% if jerseyNameTop %} top: {{ jerseyNameTop }};{% endif %}{% if jerseyNameFontsize %} font-size: {{ jerseyNameFontsize }};{% endif %}"><span class="jersey-builder-inner-name">Any Name</span></div>
            <div class="jersey-builder-number" style="{% if jerseyNumberTop %} top: {{ jerseyNumberTop }};{% endif %}{% if jerseyNumberHeight %} height: {{ jerseyNumberHeight }};{% endif %}"></div>
        </div>
    </div>
{% endif %} 