{% comment %}<input class="btn btn-reversed" style="position:relative; float:right; margin:10px 0;"
type="submit" id="outside-the-us" name="BongoFormSubmit" value="Are you outside the U.S. ?"
onclick="javascript: document.forms['BongoCheckoutForm'].submit(); return false;">{% endcomment %}

<a style="width: 100%; height: 40px; text-transform: uppercase; background-color: gray; color: white; clear: both; text-align: center; padding: 12px 20px; display: block;" href="#" id="outside-us-custom" class="outside-us">Are you outside the U.S. ?</a>

<script type="text/javascript">
    $("#outside-us-custom").click(function(){
        $("form[name='BongoCheckoutForm']").submit();
        return false;
    });
</script>