{% include 'theme-variables' %}
<div class="collection-wrap  col-xs-push-0 col-sm-push-2 col-sm-10 col-md-push-2 col-md-10 col-lg-10 col-lg-push-2">
{% if settings.collection-header-placement == 'above-products' %}
{% include 'collection-header' with collection %}
{% else %}
<div class="container">
  <h1 class="page-header">{{ page_title }}</h1>
</div>
{% endif %}

{{ collection_slider }}

{% include 'collection-nested' %}

{% unless hide_products %}
{% if collection.all_products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<p>Sorry, no {% include '__localize' with 'products' %} were found in the {{ collection.title }} collection.</p>
	{% include '__containers-close' %}
</section>
{% elsif collection.products_count == 0 %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<h2>Whoops! You might need to broaden your search.</h2>
	<p>There {{ collection.all_products_count | pluralize: 'is', 'are' }}<strong> {{ collection.all_products_count | count }} {{ collection.all_products_count | pluralize: 'style', 'styles' }} of {% include '__localize' with 'Products' %}</strong> in the {{ collection.title }} collection&mdash;try removing some filters.</p>
	<ul>
		{% for tag in current_tags %}
		<li>{{ tag }} ({{ 'remove' | link_to_remove_tag: tag }})</li>
		{% endfor %}
	</ul>
	<p><br>Or, view <strong><a href="{{ collection.url }}">all {{ collection.all_products_count }} {% include '__localize' with 'Products' %} in the {{ collection.title }} {% include '__localize' with 'Collection' %}</a></strong>.</p>
	{% include '__containers-close' %}
</section>
{% else %}
{% if settings.tag-placement == 'main-content' or settings.show-product-sorter %}
<section id="collection-sort" class="section-wrap">
	{% include '__containers-open' %}
	<div class="clearfix">
		{% if settings.tag-placement == 'main-content' %}
		<div class="pull-left">
			{% include 'tag-buttons' %}
		</div>
		{% endif %}

		{% if settings.show-product-sorter %}
			<div class="container">

				<div class="sorting">
					<div class="sort right">
						<label>
							<span></span>
						    <select id="sort-by">
							    <option value="">Sort By</option>
								<option value="price-ascending">Price: Low to High</option>
								<option value="price-descending">Price: High to Low</option>
								<option value="created-ascending">New Arrivals</option>
								<option value="best-selling">Best Selling</option>
						    </select>
						    <span class="pointer"><i class="fa fa-caret-down"></i></span>
					    </label>
				    </div>
			    </div>
			
				{% comment %}<label for="sort-by">Sort by</label> 
				<select id="sort-by">
					<option value="sort-by" disabled>Sort By</option>
					<option value="price-ascending">Price: Low to High</option>
					<option value="price-descending">Price: High to Low</option>
					<option value="created-ascending">New Arrivals</option>
					<option value="best-selling">Best Selling</option>
				</select>
				<i class="fa fa-chevron-down"></i>{% endcomment %}

				<script>
                  let sorter = setInterval(() => {
                    if ($('#sort-by').val() === null) {
                      $($('#sort-by')[0].children[0]).prop('selected', true)
                      clearInterval(sorter)
                    }
                  },1)
				Shopify.queryParams = {};
				if (location.search.length) {
				  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
				    aKeyValue = aCouples[i].split('=');
				    if (aKeyValue.length > 1) {
				      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
				    }
				  }
				}
                  		jQuery('#sort-by')
                  		.val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
                       .bind('change', function() {
                   		 Shopify.queryParams.sort_by = jQuery(this).val();
                      	location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
                  		});
				</script>	
			</div>	
		{% endif %}
	</div>
	{% include '__containers-close' %}
</section>
<hr>
{% endif %}

<section id="product-list" class="section-wrap">
{% assign is-product-list = true %}
{% include '__containers-open' %}
{% include '__default-pagination' %}
{% paginate collection.products by default-pagination %}
<div class="pagination_top">
	{% include 'pagination' %}
</div>
{% include 'products-list' %}
<div class="pagination_bottom">
	{% include 'pagination' %}
</div>
{% endpaginate %}
{% include '__containers-close' %}
</section>
{% endif %}
{% endunless %}


{% if settings.collection-header-placement == 'below-products' %}
{% include 'collection-header' with collection %}
{% endif %}
</div>
{% include 'filter-sidebar' %}
<script>
  
  $(window).on('load', 	function() {

    console.log('window loaded');
    
    $('#sort_menu, #group_tag').click(function(e){
        console.log('click');
        e.stopPropagation();
        $(this).next('.dropdown-menu').toggle();
      
    });
    
    $(document).on('click', function (e) {
        $('[aria-labelledby="group_tag"], [aria-labelledby="sort_menu"]').hide();
    });
         
  });
  
</script>

