<div class="col-sm-pull-10 col-sm-2 filter-sidebar-container">
    <ul class="clearfix filter filter-sidebar">
      
      <h3 class="sidebar-title" style="">NARROW YOUR SEARCH</h3>
      
      
    
      <!-- INCLUDE COLLECTION FILTERS APP -->
<!--       <div id="collection-filters-container" class="cf-select-wrapper"></div> -->
      <div class="collection-filters-container cf-select-wrapper"></div>

      {% comment %}<a class="reset-filter" href="/collections/{{ current-col }}">RESET FILTER <i class="fa fa-undo" aria-hidden="true"></i></a>{% endcomment %}

      {% comment %}
          <h2 class="filter-sidebar-title"> Filter Collection By</h2>
          <li{% unless current_tags %} class="active"{% endunless %}>
            {% if collection.handle %}
            <a class="filter-collection-title" href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}"><h3>Tags</h3></a>
            {% elsif collection.current_type %}
                <a class="filter-collection-title" href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}"><h3>Tags</h3></a>
            {% elsif collection.current_vendor %}
                <a class="filter-collection-title" href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}"><h3>Tags</h3></a>
            {% endif %}
          </li>
          {% for tag in collection.all_tags %}
{%- if tag contains '_HIDDEN_PRODUCT' -%}{%- continue -%}{%- endif -%}
{%- include 'bold-product' with tag, hide_action: 'skip' -%}
              {% if current_tags contains tag %}
                  <li class="active filter-sidebar-option selected">
                      {{ tag | link_to_remove_tag: tag }}
                  </li>
              {% else %}
                  <li class="filter-sidebar-option">
                    {{ tag | link_to_add_tag: tag }}
                  </li>
              {% endif %}
          {% endfor %}
      {% endcomment %}
    </ul>


    {% comment %}<ul class="clearfix filter filter-sidebar">
      <h2 class="filter-sidebar-title"> Go to Types </h2>
      <li{% unless current_types %} class="active"{% endunless %}>
        {% if collection.handle %}
        <a class="filter-collection-title" href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}"><h3>Types</h3></a>
        {% elsif collection.current_type %}
            <a class="filter-collection-title" href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}"><h3>Types</h3></a>
        {% elsif collection.current_vendor %}
            <a class="filter-collection-title" href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}"><h3>Types</h3></a>
        {% endif %}
      </li>
      {% for type in shop.types  %}
          {% if current_types contains type %}
              <li class="active filter-sidebar-option selected">
                <a href="{{ type | url_for_type  }}">{{ type }}</a>
              </li>
          {% else %}
              <li class="filter-sidebar-option">
                <a href="{{ type | url_for_type  }}">{{ type }}</a>
              </li>
          {% endif %}
      {% endfor %}
    </ul>
  
    <ul class="clearfix filter filter-sidebar">
      <h2 class="filter-sidebar-title"> Go to Vendors </h2>
      {% for vendor in shop.vendors %}
          {% if current_vendor contains vendor %}
              <li class="active filter-sidebar-option selected">
                <a href="{{ vendor | url_for_vendor  }}">{{ vendor }}</a>
              </li>
          {% else %}
              <li class="filter-sidebar-option">
                <a href="{{ vendor | url_for_vendor  }}">{{ vendor }}</a>
              </li>
          {% endif %}
      {% endfor %}
    </ul>{% endcomment %}
  
  	
  
</div>


