<div class="footer__grid {% if c == 5 and footer_column == 'column-1' %}col-sm-offset-1{% endif %} col-sm-{{ 12 | divided_by: footer_columns.size }} {% cycle 'alpha', 'beta', 'gamma', 'delta', 'epsilon' %}">
  {% assign footer_title = footer_column | append: '-title' %}{% assign footer_title = settings[footer_title] %}
  {% unless footer_title == blank %}
  <h4>{{ footer_title }}</h4>
  {% endunless %}

  {% assign footer_text = footer_column | append: '-text' %}{% assign footer_text = settings[footer_text] %}
  {% unless footer_text == blank %}
  {{ footer_text }}
  {% endunless %}

  {% assign footer_blog = footer_column | append: '-blog' %}{% assign footer_blog = settings[footer_blog] %}
  {% unless blogs[footer_blog] == empty %}
    {% for a in blogs[footer_blog].articles limit:settings.blog-list-limit %}
      {% include 'article-excerpt' %}
    {% endfor %}
  {% endunless %}

  {% if footer_column == 'column-2' %}
    <div class="footer-contact visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
      Questions? Call <strong>{{ settings.footer-phone }}</strong>
    </div>  
  {% endif %}
        
  {% assign footer_menu = footer_column | append: '-menu' %}{% assign footer_menu = settings[footer_menu] %}
  {% unless linklists[footer_menu] == empty %}
    <ul class="list-nav">
      {% for l in linklists[footer_menu].links %}
        <li class="{% if l.active %}active {% endif %}{{ l.title | handleize }}">
          <a href="{{ l.url }}" {% if l.url contains 'htt' %}target="_blank"{% else %}target="_self"{% endif %}>
            {{ l.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endunless %}
   
  {% assign newsletter_column = 'footer-' | append: footer_column %}
  {% if settings.newsletter-signup-placement == newsletter_column %}
  {% include 'newsletter-signup-form' with 'footer' %}
  {% endif %}
  
  {% if settings.yotpo-badge-placement == newsletter_column %}
  <div id="y-badges" class="yotpo badge badge-init"></div>
  {% endif %}
    
  {% assign social_links_column = 'social-footer-' | append: footer_column %}
  {% if settings[social_links_column] %}
  <p class="clearfix social-icons">
    {% include 'social-links' with 'lg' %}
  </p>
  {% endif %}
  

  {% if settings.custom-footer-logo != blank and footer_column == 'column-1' %}
    <p class="custom-footer-logo footer-credits">
      <a href="{{ settings.custom-footer-logo-url }}" target="_blank">
        <img src="{{ 'custom-footer-logo-file.png' | asset_url }}" alt="" class="img-responsive center-block" />
      </a>
      <a href="/">
        <img class="visible-xs hidden-sm hidden-md hidden-lg hidden-xl" src="{{ 'custom-footer-logo-file-5.png' | asset_url }}" alt="" class="img-responsive " />  
      </a>
    </p>
  {% endif %}

  {% if settings.custom-footer-logo-5 != blank and footer_column == 'column-5' %}
  <p class="footer-icon-5">
    
      <img class="hidden-xs visible-sm visible-md visible-lg visible-xl" src="{{ 'custom-footer-logo-file-5.png' | asset_url }}" alt="" class="img-responsive" />
    
  </p>
  {% endif %}  
  <div class="hidden-xs hidden-sm visible-xl clearfix">&nbsp;</div> 


</div>
