<section id="homepage__collection">
  <div class="container">

      <div class="col-sm-6 col-md-6">  
    	  {% if settings.enable-featured-image-2 %}
    	      <a href="{{ settings.featured-image-link-2 }}">
              <img class="{% if settings.enable-featured-image-mobile-2 %} hidden-xs hidden-sm visible-md visible-lg {% endif %} featured-image featured-image-2" src="{{ 'featured-image-2.jpg' | asset_url }}">

              <img class="{% if settings.enable-featured-image-mobile-2 %} visible-xs visible-sm hidden-md hidden-lg {% else %}hidden{% endif %} featured-image featured-image-mobile-2" src="{{ 'featured-image-mobile-2.jpg' | asset_url }}">             
            </a>
    	  {% endif %}  
      </div>
      <div class="col-sm-6 col-md-6">  
    		{% if settings.enable-featured-image-3 %}
          <a href="{{ settings.featured-image-link-3 }}">
            <img class="{% if settings.enable-featured-image-mobile-3 %} hidden-xs hidden-sm visible-md visible-lg {% endif %} featured-image featured-image-3" src="{{ 'featured-image-3.jpg' | asset_url }}">

            <img class="{% if settings.enable-featured-image-mobile-3 %} visible-xs visible-sm hidden-md hidden-lg {% else %}hidden{% endif %} featured-image featured-image-mobile-3" src="{{ 'featured-image-mobile-3.jpg' | asset_url }}">
          </a>
        {% endif %}
      </div>

      <div class="hidden-xs hidden-sm visible-md visible-lg col-sm-4 col-md-4">  
    		<a href="{{ settings.featured-image-link-4 }}"><img class="featured-image featured-image-3" src="{{ 'featured-image-4.jpg' | asset_url }}"></a>
      </div>  
      <div class="hidden-xs hidden-sm visible-md visible-lg col-sm-4 col-md-4">  
    		<a href="{{ settings.featured-image-link-5 }}"><img class="featured-image featured-image-3" src="{{ 'featured-image-5.jpg' | asset_url }}"></a>
      </div>    
      <div class="hidden-xs hidden-sm visible-md visible-lg col-sm-4 col-md-4">  
    		<a href="{{ settings.featured-image-link-6 }}"><img class="featured-image featured-image-3" src="{{ 'featured-image-6.jpg' | asset_url }}"></a>
      </div>  

  </div> <!-- / container -->
</section>
