<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{% include 'smart-title' with 'strip_html' %} | {{ shop.name }}</title>
<meta name="description" content="{% if page_description %}{{ page_description | escape }}{% else %}{{ shop.description | escape }}{% endif %}" />

<link rel="canonical" href="{{ canonical_url }}" />

<meta property="og:title" content="{% include 'smart-title' with 'strip_html' %} | {{ shop.name }}" />
<meta property="og:description" content="{{ page_description | escape }}" />
<meta property="og:url" content="{{ canonical_url }}" />
{% if template contains 'product' %}
<meta property="og:type" content="product" />
<meta property="og:price:amount" content="{{ product.price | money_without_currency }}" />
<meta property="og:price:currency" content="{{ shop.currency }}" />
<meta property="og:availability" content="{% if product.available %}instock{% else %}out of stock{% endif %}" />
{% elsif template contains 'article' %}
<meta property="og:type" content="article" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
{% if template contains 'product' %}
  <meta property="og:image" content="http:{{ product.featured_image.src | product_img_url: 'grande' }}" />
  <meta property="og:image:secure_url" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}" />
{% elsif template contains 'article' %} 
  {% assign img_tag = '<' | append: 'img' %}
  {% if article.content contains img_tag %}
    {% assign src = article.content | split: 'src="' %}
    {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
    {% if src %}
      <meta property="og:image" content="http:{{ src }}" />
      <meta property="og:image:secure_url" content="https:{{ src }}" />
    {% endif %}
  {% endif %}
{% else %}
  {% if settings.logo-image %}
    <meta property="og:image" content="http:{{ 'logo-image-file.png' | asset_url }}" />
    <meta property="og:image:secure_url" content="https:{{ 'logo-image-file.png' | asset_url }}" />
  {% endif %}
{% endif %}
<meta property="og:site_name" content="{{ shop.name }}" />

<meta name="author" content="{{ shop.name }}">

{% if settings.social-links-rss != blank %}
<link rel="alternate" type="application/atom+xml" title="{{ blogs[settings.social-links-rss].title }}" href="{{ blogs[settings.social-links-rss].url | append: '.atom' }}" />
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
