{% assign owl_carousel = true%}
<!-- OWL PRODUCTS LIST -->
<div class="owl-products-list owl-carousel {% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %}">
	{% if template contains 'index' %}
		{% if t_object != blank %}
			{% assign product_collection = t_object %}
  		{% elsif products-list != blank %}
 			 {% assign product_collection = products-list %}
		{% else %}
			{% assign product_collection = collections[settings.homepage-products-collection] %}
		{% endif %}
	{% elsif collection %}
		{% assign product_collection = collection %}
	{% endif %}
	{% if template contains 'index' or products-list == 'limit' %}
	  {% if settings.homepage-products-limit contains 'unlimited' %}{% assign limit = nil %}{% else %}{% assign limit = settings.homepage-products-limit %}{% endif %}
	{% endif %}
	{% for p in product_collection.products %}
{% include 'bold-product' with p, hide_action: 'skip' %}
		{% assign product_count = forloop.length %}
		{% include 'product-loop' with p %}
	{% endfor %}
</div>

<script>
  
  $(document).ready(function(){
      function replaceButtons(){
      		console.log('initialized');
        	$('.owl-prev').html( '&#x3c;' );
            $('.owl-next').html( '&#x3e;' );
      
      };
      var carousel = $(".owl-products-list")
          carousel.owlCarousel({
              onInitialized : replaceButtons,
              loop:true,
              margin:10,
              autoplay: true,  
              nav:true,
              responsive : {
                    // breakpoint from 0 up
                    0 : {
                        items : 1
                    },
                    // breakpoint from 480 up
                    480 : {
                        items : 3
                    },
                    // breakpoint from 768 up
                    768 : {
                        items : 4
                    }
              }
          });
    
  });
  
  
</script>