{% for tag in product.tags %}
    {% if tag == 'personalized-jersey3days' %}
		<strong>DELIVERY NOTE: This product requires additional production time of 3 business days.</strong>
		<br />
		Enter your name and number in the Name/Number fields above OR call 1-877-821-SHOP (7467) to choose your name and number.
		<br />
		<a href="/pages/personalized-jersey">Click here for important information about your Personalized Order >></a><br /><br />
    {% elsif tag contains 'personalized-player' %}
	    <strong>DELIVERY NOTE: This product requires additional production time of 3 business days.</strong><br /><br />
{% elsif tag contains '4-weeks' %}
	    <strong>Special Order Note: This product ships from a third party. Product could take 4-6 weeks to ship from the vendor. Your credit card will be charged the full amount at the time of purchase. Click for details.</strong><br /><br />
{% elsif tag contains '1-week' %}
	    <strong>Special Order Note: This product ships from a third party. Product could take 1-4 weeks to ship from the vendor. Your credit card will be charged the full amount at the time of purchase. Click for details.</strong><br /><br />    
{% elsif tag contains 'delivery-4weeks' %}
	    <strong>DELIVERY NOTE: PLEASE ALLOW 4-6 WEEKS FOR PRODUCTION & SHIPPING</strong><br /><br />
{% elsif tag contains 'delivery-2weeks' %}
	    <strong>DELIVERY NOTE: PLEASE ALLOW 1-2 WEEKS FOR PRODUCTION & SHIPPING</strong><br /><br />
{% elsif tag contains 'delivery-3days' %}
	    <strong>DELIVERY NOTE: This product requires additional production time of 3 business days.</strong><br /><br />
{% elsif tag contains 'drop-ship' %}
		<strong>Special Order Note: 
		This product ships from a third party. Product could take 1-4 weeks to ship from the vendor. </strong><br />
		Your credit card will be charged the full amount at the time of purchase. <a href="/pages/special-order">Click for details.</a><br /><br />
    {% endif %}
{% endfor %}

