{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}
{% if product.tags contains "auction" %}{% assign auction = true %}{% endif %}

{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: product_img_size }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap">
  {% include '__containers-open' %}
  <div class="visible-xs">
    {% include 'product-labels' with product %}

    <h1 class="page-header" itemprop="name">{{ product.title }}</h1>

    <span class="variant-sku"></span>

    {% if has_prices %}
      {% if price_is_poa %}
      <div class="product-price-poa">
        <span>{% include '__localize' with 'POA' %}</span>
      </div>
      {% else %}
        <div class="product-price wk_hide_element" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
          <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>

          <!-- Bold: Loyalty Points - Step 4 -->
          {% if shop.metafields.bold_loyalties.active == 1 %}    
           <div class="bold-loyalties-redeem-amount">or <span class="bold-placeholder"></span></div>
          {% endif %}
          <!-- // end bold code -->

          <!-- Bold: Loyalty Points - Step 4.1 -->
          <div class="bold-loyalties-earn"></div>
          <!-- // end bold code -->

          {% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}
          <small class="compare-at-price text-muted"><del>{% include '__localize' with 'was' %} <span class="compare-at-price-field"></span></del></small>
          <div class="hidden-xs">{% include 'product-labels' with product %}</div>
          <meta itemprop="currency" content="{{ shop.currency }}" />
          <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
        </div>
      {% endif %}
    {% endif %}    
  </div>
  
  
  <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">

    <!-- images col -->    
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
      <div class="row product-images">
        {% if product.tags contains 'personalized-jersey' %}
          {% include 'bold-jersey-builder' | builder_section: 'image' %}
        {% else %}
          <div class="col-xs-12 col-sm-12">
            <div class="thumbnail product-main-image">
              {{ image }}
            </div>
          </div>
          {% if product.images.size > 1 %}
          {% for image in product.images %}
          <div class="col-xs-4">
            <div class="thumbnail">
              <div class="thumbnail-image product-main-thumb">
                <a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
                  {{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        {% endif %}
      </div>
    </div>

    <!-- details col -->
    
    <div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
      <br />
      <div class="hidden-xs">{% include 'product-labels' with product %}</div>



      <h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
      

      <span class="variant-sku hidden-xs"></span>
      
      {% comment %}<div class="hidden-xs">{% include 'product-badges' %}</div>{% endcomment %}
      

      {% unless settings.show-price-if-zero == blank and product.price == 0 %}
      {% if has_prices %}
        {% if price_is_poa %}
        <div class="product-price-poa">
          <span class="hidden-xs">{% include '__localize' with 'POA' %}</span>
        </div>
        {% else %}
          <div class="product-price wk_hide_element hidden-xs" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
            <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>

            <!-- Bold: Loyalty Points - Step 4 -->
            {% if shop.metafields.bold_loyalties.active == 1 %}    
             <div class="bold-loyalties-redeem-amount">or <span class="bold-placeholder"></span></div>
            {% endif %}
            <!-- // end bold code -->

            <!-- Bold: Loyalty Points - Step 4.1 -->
            <div class="bold-loyalties-earn"></div>
            <!-- // end bold code -->

            {% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}
            <small class="compare-at-price text-muted"><del>{% include '__localize' with 'was' %} <span class="compare-at-price-field"></span></del></small>
            
            <meta itemprop="currency" content="{{ shop.currency }}" />
            <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
          </div>
        {% endif %}
      {% endif %}

      {% include 'shappify-sales-clock' with product %}
      {% include 'product-availability' with product %}
      
        {% if has_cart %}{% include 'product-add-to-cart-form' %}{% endif %}
      {% endunless %}

      {% if product.metafields.custom_links.size > 0 %}
      <ul class="custom-links">
        {% for l in product.metafields.custom_links %}
        <li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if product.metafields.custom_images.size > 0 %}
      <ul class="custom-images">
        {% for l in product.metafields.custom_images %}
        <li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
        {% endfor %}
      </ul>
      {% endif %}
      
      {% if template.suffix == 'product-auction' %}
        {% include 'auction' %}
      {% endif %}
      
      {% include 'product-tag-logic' %}

      <div class="panel-group" id="accordion">
          {% unless product.description == blank %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Product Description / Details</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  {% include 'product-description' %}
                </div>
              </div>
            </div>
          {% endunless %}
          <div class="panel panel-default panel_size-chart">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Size Chart</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                {% include 'size-chart' %}
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Product Review</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                {% unless settings.yotpo-api-key == blank %}
                <div class="yotpo yotpo-main-widget"
                     data-product-id="{{ product.id }}"
                     data-name="{{ product.title | escape }}"
                     data-url="{{ page.url }}"
                     data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
                     data-description="{{ product.description | escape }}">
                </div>
                {% endunless %}              
              </div>
            </div>
          </div>
        </div>      
      

{% comment %}        <div class="after-content">
          {% unless settings.after_cart_content == blank %}
          {{ settings.after_cart_content }}
          {% endunless %}
        </div>
{% endcomment %}

      {% include 'product-specs' %}     

    </div>
  </div>



  {% include '__containers-close' %}
</section>



<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
    
$(document).ready(function(){
  var currentSelection = $( ".single-option-selector option:selected" ).text();

  if (currentSelection == "Size") {
    console.log("Size is selected");
    $("#purchase").addClass("disabled");
  }
});

</script>


<style>
  .share-hover-main {
    display: none !important;
  }
</style>


