{% if settings.show-shipping-estimator %}
<div class="shipping-calculator-wrapper">
  <h3>{% include '__localize' with 'Estimate shipping' %}</h3>
  
  <div id="shipping-calculator">
    <div class="form-group">
      <select id="address_country" class="form-control input-sm" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </div>
      
    <div id="address_province_container" class="form-group" style="display:none;">
      <select id="address_province" class="form-control address_form input-sm" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </div>
      
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" id="address_zip" class="form-control input-sm" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} placeholder="{% include '__localize' with 'Postal Code' %}" />
        </div>
        <div class="col-xs-6">
          <input type="button" class="get-rates btn btn-sm btn-block btn-default" value="Calculate" />
        </div>
      </div>
    </div>
  </div>
  
  <div id="wrapper-response" class="text-right"></div>
</div>

<script id="shipping-calculator-response-template" type="text/template">
  <h4 id="shipping-rates-feedback" <% if (success) { %> class="success" <% } else { %> class="error" <% } %>>
  <% if (success) { %>
    <% if (rates.length > 0) { %> 
    <%= rates.length %> shipping rate<% if (rates.length > 1) { %>s<% } %> available:
    <% } else { %>
    No shipping rates available.
    <% } %>
  <% } else { %>
    <%= errorFeedback %>
  <% } %>
  </h4>
  <ul id="shipping-rates" class="list-unstyled">
    <% for (var i=0; i<rates.length; i++) { %>
    <li><%= rates[i].name %> at <%= rates[i].price %></li>
    <% } %>
  </ul> 
</script>

<!--[if lte IE 8]> 
<style> #shipping-calculator { display: none; } </style> 
<![endif]--> 






{{ '/services/javascripts/countries.js' | script_tag }}


{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'jquery.cart.min.js' | asset_url | script_tag }}

<script>
  Shopify.Cart.ShippingCalculator.show({
    submitButton: 'Calculate', 
    submitButtonDisabled: 'Calculating…'{% if shop.customer_accounts_enabled and customer %},
    customerIsLoggedIn: true{% endif %},
    moneyFormat: {{ shop.money_with_currency_format | json }}
  });
</script>
{% endif %}