{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% assign tags = product.tags | handleize %}


{% if product.tags contains 'sc_Boys-Jerseys' %}
  {{ pages.sc_boys-jerseys.content }}
{% elsif product.tags contains 'sc_Mens-Elite' %}
  {{ pages.sc_mens-elite-jersey.content }}     
{% elsif product.tags contains 'sc_Mens-Game' %}
  {{ pages.sc_mens-game-limited-jersey.content }}   
{% elsif product.tags contains 'sc_Mens-Limited' %}
  {{ pages.sc_mens-game-limited-jersey.content }}  
{% elsif product.tags contains 'sc_Ladies-Jerseys' %}
  {{ pages.sc_ladies-jerseys.content }}  
{% elsif product.tags contains 'sc_Little-Boys-Jerseys' %}
  {{ pages.sc_little-boys-jerseys.content }}  
{% elsif product.tags contains 'sc_Boys-Shirts' %}
  {{ pages.sc_boys-tees.content }}  
{% elsif product.tags contains 'sc_Girls-Shirts' %}
  {{ pages.sc_girls-tees-jerseys.content }}  
{% elsif product.tags contains 'sc_Toddler' %}
  {{ pages.sc_toddler.content }}  
{% elsif product.tags contains 'sc_Infant' %}
  {{ pages.sc_infant.content }} 
{% elsif product.tags contains 'sc_Mens-Generic' %}
  {{ pages.sc_mens-apparel.content }} 
{% elsif product.tags contains 'sc_Hats' %}
  {{ pages.sc_headwear.content }} 
{% elsif product.tags contains 'sc_Ladies-Generic' %}
  {{ pages.sc_womens.content }} 
{% elsif product.tags contains 'sc_Nike-Shoes' %}
  {{ pages.sc_Nike-shoes.content }} 
{% elsif product.tags contains 'sc_Mens-Big-Tall' %}
  {{ pages.sc_3X-5X.content }} 
{% elsif product.tags contains 'sc_pet-jersey' %}
  {{ pages.sc_pet-jersey.content }} 
{% else %}
  <style>
    .panel_size-chart {
        display: none;
    }    
  </style>
{% endif %}


{% comment %}
  <h4>List of all vendors for reference in dev - comment out for production</h4>
  {% for vendor in shop.vendors %}
    <li>{{ vendor | handleize | link_to_vendor }}</li>
  {% endfor %}
{% endcomment %}