<script>
	var SPOParams = {
		"id" : "d5d5444d2a4b0fe9f5abaaea36e5fc6c",
		"apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
		"items" : [{% for item in cart.items %}
		{
			'id': {{item.id}},
			'product_id':{{item.product_id}},
			'variant_id':{{item.variant_id}},
			'quantity':{{item.quantity}},
			'properties':{{item.properties | json}},
			'product': { id:{{item.product_id}}, handle:'{{item.product.handle}}', title:{{item.product.title | json}},variants:[{% for variant in item.product.variants %}{id:{{variant.id}},title:{{variant.title | json}},inventory_quantity:'{{variant.inventory_quantity}}',inventory_management:'{{variant.inventory_management}}',inventory_policy:'{{variant.inventory_policy}}'}{% unless forloop.last %},{% endunless %}{% endfor %}]}
		}{% unless forloop.last %},{% endunless %}
		{% endfor %}],
	};
</script>
<script src="//s3.amazonaws.com/shopify-apps/pre-order/js/common.js" {% if shop.metafields.spurit_po['fast_load'] != '1' %}defer{% endif %}></script>