<section id="account" class="section-wrap">
{% include '__containers-open' %}
<div id="admin_header">
  <h1 class="page-header">Account Details and Order History</h1>
</div>
  
  {% comment %}
      <a href="/account?view=edit">Edit Account</a>
  {% endcomment %}
  
<div id="customer_details">
  <div class="well">
    <div id="customer-information-wrap">
    <h4>{{ customer.name }}</h4>
    <dl class="dl-horizontal-left">
      <div class="form-row"><dt class="float-left"> Email:</dt>  <dd class="float-right">{{ customer.email }}</dd></div>
      <div class="form-row"><dt class="float-left">Default Phone:</dt><dd class="float-right">{% if customer.default_address.phone %}{{ customer.default_address.phone }}{% else %}<span class="text-muted">No default phone number set</span>{% endif %}</dd></div>

      {% comment %}
          <form id="customr-form" class="form-row" action="{{ customr_url }}/customers/{% if token %}{{ customer.id }}{% endif %}" method="post">

            <label for="email" class="large float-left"> Change Password: </label>
            <div class="change-password float-right">
                <input type="text" name="customer[password]">
                <div class="customr-actionable">
                  <input type="submit" value="submit" class="btn">
                </div>
            </div>
          </form>
      {% endcomment%}


      <!-- customers/account.liquid -->
      {% comment %}
            <label for="email" class="large"> Birthday: </label> <div class="float-right"> {{ customer.metafields.customr.birthday }} </div>
            <label for="email" class="large"> Password: </label> <div class="float-right"> {{ customer[password] }} </div>
            <label for="email" class="large"> Password 2: </label> <div class="float-right">  {{ customer.metafields.customr.password }} </div>
      {% endcomment %}




      <!-- Loop through each field -->
      {% for field in customer.metafields.customr %}
        {% assign key = field[0] | replace: "_", " " | capitalize %}
        {% assign value = field[1] %}
            <div class="form-row">
              <label class="large float-left">{{ key }}: </label> <div class="float-right"> {{ value }} </div> <br>
            </div>
      {% endfor %}



      {% comment %}
        <dt>Default Address:</dt>
        <dd>
          {% if customer.default_address != nil %}
          <adddress>
            {{ customer.default_address.address1 }}<br>
            {% if customer.default_address.address2 != "" %}{{ customer.default_address.address2 }}<br>{% endif %}
            {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
            {{ customer.default_address.zip}}<br>
          </adddress>
          {% else %}
            <span class="text-muted">No default address set</span><br>
          {% endif %}
          <a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>        
        </dd>
      {% endcomment %}
    </dl>
    
    {% include 'password-reset' %}
    </div>
    {% include 'manage-address' %}

  </div>
</div>


  

<div id="customer_orders">
  <h3>Orders</h3>

  {% if customer.orders.size != 0 %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="order_number">Order</th>
          <th class="date">Date</th>
          <th class="payment_status">Payment Status</th>
          <th class="fulfillment_status">Fulfillment Status</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order danger{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> You haven't placed any orders yet.</div>
  {% endif %}
  <div id="wk-auction" cust-id="{{ customer.id }}"></div>

</div>
{% include '__containers-close' %}
</section>
<!-- code added by webkul-->
<script type="text/javascript">
 $( document ).ready(function() {
    setTimeout(function(){ 
      $('#wk-auction').find('a').attr('target','_top');
    }, 2000);
  });
</script>