<section id="account" class="section-wrap">
{% include '__containers-open' %}
<div id="admin_header">
  <h1 class="page-header">Account Details and Order History</h1>
</div>
  
<div id="customer_details">
  <div class="well">
    <div id="customer-information-wrap">
        <h4>{{ customer.name }}</h4>
        <dl class="dl-horizontal-left" style="display: none;">
          <div class="form-row"><dt class="float-left"> Email:</dt>  <dd class="float-right">{{ customer.email }}</dd></div>
          <div class="form-row"><dt class="float-left">Default Phone:</dt><dd class="float-right">{% if customer.default_address.phone %}{{ customer.default_address.phone }}{% else %}<span class="text-muted">No default phone number set</span>{% endif %}</dd></div>

          <!-- Loop through each field -->
          {% for field in customer.metafields.customr %}
            {% assign key = field[0] | replace: "_", " " | capitalize %}
            {% assign value = field[1] %}
                <div class="form-row">
                  <label class="large float-left">{{ key }}: </label> <div class="float-right"> {{ value }} </div> <br>
                </div>
          {% endfor %}

        </dl>

        {% include 'password-reset' %}
    </div>
    <!--   MANAGE ADDRESS    -->
    {% include 'manage-address' %}

  </div>


  <!-- Bold: Loyalty Points - Step 3 -->
  {% include 'bold-loyalties-customer-transactions' %}
  <!-- // end bold code -->

</div>

<div id="customer_orders">
  <h3>Orders</h3>

  {% if customer.orders.size != 0 %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="order_number">Order</th>
          <th class="date">Date</th>
          <th class="payment_status">Payment Status</th>
          <th class="fulfillment_status">Fulfillment Status</th>
          <th class="total">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order danger{% endif %}">
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
          <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          <td><span class="total money">{{ order.total_price | money }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> You haven't placed any orders yet.</div>
  {% endif %}
  <div id="wk-auction" cust-id="{{ customer.id }}"></div>

</div>
{% include '__containers-close' %}
</section>
<!-- code added by webkul-->
<script type="text/javascript">
 $( document ).ready(function() {
    setTimeout(function(){ 
      $('#wk-auction').find('a').attr('target','_top');
    }, 2000);
  });
</script>