{% assign form-type = 'horizontal' %}
<section id="login-form" class="section-wrap">
	{% include '__containers-open' %}
	<div class="customer-login-form form-wrapper-horizontal">
		<h1 class="page-header">Customer Login</h1>

		{% if settings.account-login-custom-notification-enable %}
			{{ settings.account-login-custom-notification }}
			<br />
		{% endif %}

		{% include '_form-login' %}
	</div>

	<div class="customer-recover-password-form form-wrapper-horizontal">
		<h1 class="page-header">Reset Password</h1>
		{% include '_form-recover-password' %}
	</div>
    
	{% comment %}
	Guest Login form for shops with optional customer accounts. This form is displayed only when users click on the checkout link
	on the cart page.
	{% endcomment %}

	{% if shop.checkout.guest_login %}
	<hr>
	<div id="guest">
		<h3 class="title">Guest Login</h3>
		{% form 'guest_login' %}
		<div class="form-group">
			<div class="col-lg-12">
				<input class="btn btn-default" type="submit" value="Continue as Guest" />
			</div>
		</div>
		{% endform %}
	</div>
	{% endif %}
	{% include '__containers-close' %}
</section>