<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    {{ 'jquery.min.js' | asset_url | script_tag }}

    <script type="text/javascript">

      var DISCOUNT_FORM = {
          FORM_CLASS: '.discount__form',
          DISCOUNT_FIELD_CLASS: '.billing__discount',
          DISCOUNT_INVALID_WRAPPER_CLASS: '.discount__invalid',
          SUBMIT_CLASS: '.discount__submit'
      };

      (function() {
          $(function() {

              try { validateUI(); } catch(e) {}

              // --------------------------------------------------
              // SHOPIFY MAPPINGS
              // --------------------------------------------------

              // declaration for discount mapping
              var discount;

              // --------------------------------------------------
              // SHOPIFY HELPER FUNCTIONS
              // --------------------------------------------------

              // determines current Shopify checkout step based on DOM content
              function currentStep() {
                  if ($(".step[data-step=contact_information]").length)	return 'contact_info';
                  if ($(".step[data-step=shipping_method]").length)		return 'shipping_method';
                  else if ($('.step[data-step=payment_method]').length)	return 'billing_info';
                  else if ($('html.page--processing').length)				return 'processing_payment';
                  else if ($('html.page--stock-problems').length)			return 'stock_problems';
                  else if ($('html.page--thank-you').length)				return 'thank_you';
                  return false;
              }

              // check discount field is populated
              function validateDiscountForm(form) {
                  if ($(form).find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val() != '') {
                      $(form).find(DISCOUNT_FORM.SUBMIT_CLASS).attr('disabled', false).removeClass('btn--disabled');
                      return true;
                  } else {
                      $(form).find(DISCOUNT_FORM.SUBMIT_CLASS).attr('disabled', true).addClass('btn--disabled');
                      return false;
                  }
              }

              // check all discount forms on page
              function validateDiscountForms() {
                  $(DISCOUNT_FORM.FORM_CLASS).each(function() {
                      validateDiscountForm(this);
                  });
              }

              // hook into Shopify's checkout JS to trigger custom code on discount events
              function setupDiscountHandler() {
                  if ( $('#checkout_reduction_code').length ) {
                      var _old_updater = ReductionForm.prototype.updatePage;
                      ReductionForm.prototype.updatePage = function(r) {
                          _old_updater.apply(this, arguments);

                          handleDiscountEvent();
                      };

                      handleDiscountEvent();

                      $('.ui-element__discount').insertAfter(
                          $('.order-summary__sections .order-summary__section--discount').first()
                      );
                      $('.ui-element__discount').show();
                  }
              }

              // handles discount form responses. will update custom discount
              // forms to match shopify's response
              function handleDiscountEvent() {
                  // re-initialize discount values based on shopify's new DOM
                  discount = {
                      $field: $('#checkout_reduction_code'),
                      errors: !!$('#error-for-reduction_code').length,
                      submit: function() {
                          $('#checkout_reduction_code').closest('form').find('button[type=submit]').click();
                      },
                      remove: function() {
                          $('.applied-reduction-code__clear-button').click();
                      },
                  };

                  // scramble to find discount name and amount in the DOM
                  discount.applied_code = {
                      // ew. name comes from either a successful discount info div, the shopify form val() itself,
                      // or a warning status message that needs to be regex'd in order to find the code
                      name: $('.applied-reduction-code__information').text() || $('#checkout_reduction_code').val() || ($('[data-discount-warning]').text().match(/for the (.+) discount code/)||[]).pop(),
                      // also ew. amount can be found in Shopify's DOM but needs to be cleaned
                      amount: $('.applied-reduction-code__information').closest('form')
                                  .find('.content-box__row__right').length && parseFloat(
                              $('.applied-reduction-code__information').closest('form')
                                  .find('.content-box__row__right').text()
                                  .replace('-','').replace('$','').replace(',','').trim()
                          ).toFixed(2).replace('.00',''),
                  };

                  // if code is applied successfully, show applied form, hide others
                  if (discount.applied_code.amount) {
                      $(DISCOUNT_FORM.FORM_CLASS).find('.field').removeClass('field--error').show();
                      $(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS).hide();
                      $(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val('').blur();
                  // if code failed to apply, hide applied form and show default form
                  } else if (discount.errors) {
                      $(DISCOUNT_FORM.FORM_CLASS).find('.field').addClass('field--error').show();
                      $(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS).show();
                      $(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).focus();
                  // else a discount was removed or no discount is applied yet
                  } else {
                      $(DISCOUNT_FORM.FORM_CLASS).find('.field').removeClass('field--error').show();
                      $(DISCOUNT_FORM.DISCOUNT_INVALID_WRAPPER_CLASS).hide();
                      $(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val('').blur();
                  }

                  $(DISCOUNT_FORM.FORM_CLASS).find('button[type=submit]').removeClass('btn--loading');
              }

              function submitCustomPromo(code) {
                var AUTH_CARD_URL = '/apps/api/v1/authorize_gift_card';

                $.post(AUTH_CARD_URL, { gift_card_code: code }).always(function(r) {
                  console.log(r);
                  submitShopifyCode(code);
                });
              }

              function submitShopifyCode(code) {
                  discount.$field.val(code);
                  discount.submit();
              }

              // --------------------------------------------------
              // FORM EVENTS
              // --------------------------------------------------

              // validate and allow / deny discount submission
              $(DISCOUNT_FORM.FORM_CLASS).on('change keyup input blur', 'input', function() {
                  validateDiscountForm($(this).parents(DISCOUNT_FORM.FORM_CLASS).addBack().first());
              });

              // discount form submit handler
              $(DISCOUNT_FORM.FORM_CLASS).submit(function(e) {
                  e.preventDefault();

                  if (!validateDiscountForm(this))
                      return false;

                  $(this).find('button[type=submit]').addClass('btn--loading');

                  submitCustomPromo($(this).find(DISCOUNT_FORM.DISCOUNT_FIELD_CLASS).val());
              });

              // --------------------------------------------------
              // CHECKOUT STEP SPECIFIC LOGIC
              // --------------------------------------------------

              if (currentStep() == 'contact_info'
                  || currentStep() == 'shipping_method'
                  || currentStep() == 'billing_info') {
                  setupDiscountHandler();
                  validateDiscountForms();
              }

              function validateUI() {
                  for (var field in DISCOUNT_FORM) {
                      if (DISCOUNT_FORM.hasOwnProperty(field) && !$(DISCOUNT_FORM[field]).length)
                          console.log('%c DISCOUNT FORM - UI ELEMENT MISSING: ' + field + '. Value specified: ' + DISCOUNT_FORM[field], 'background: #fff0f0; color: #ff1234');
                  }
              }
          });
      }());
      </script>
  </head>
  <body>
    {% unless settings.gtm-container-id == blank %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ settings.gtm-container-id }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                })(window,document,'script','dataLayer','{{ settings.gtm-container-id }}');</script>
    <!-- End Google Tag Manager -->
    {% endunless %}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="sidebar">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </div>
        </div>
      </div>
    </div>

    <div class="order-summary__section order-summary__section--discount ui-element__discount">
      <form class="discount__form">
        <div class="fieldset">
          <div class="field">
            <div class="field__input-btn-wrapper">
              <div class="field__input-wrapper"><label class="field__label" for="custom-promo__code">PROMOTION CODE</label>
                <input placeholder="Gift Card or Discount Code" class="field__input billing__discount" autocomplete="off" size="30" type="text" id="custom-promo__code">
              </div>
              <button type="submit" class="field__input-btn btn discount__submit">
                <span class="btn__content visually-hidden-on-mobile">Apply</span>
                <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                <i class="btn__spinner icon icon--button-spinner"></i>
              </button>
            </div>
            <p class="discount__invalid field__message field__message--error">Unable to find a valid discount matching the code entered</p>
          </div>
        </div>
      </form>
    </div>

    {{ tracking_code }}
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[name="checkout[shipping_address][first_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][last_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][company]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address1]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address2]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][city]"]').attr('maxlength', 30);
      });
    </script>
  </body>
</html>

<style type="text/css">
  #livechat-compact-container {
      display: none;
  }

  .order-summary__section--discount { display: none; }
  [class*=ui-element__] { display: none; }
</style>