.shop__logo {
  max-width: 100%!important;
  margin: 0 auto!important;
}

.header .icon--lock {
  display: none!important; 
}

.onelive-secure {
  margin: 35px 0 0 auto; 
}

@media (min-width: 1000px) {
  .onelive-checkout-header .container-fluid {
    padding: 0 5em;
    width: auto;
    max-width: 76em; 
  }
}

@media (max-width: 999px) {
  .order-summary-recap {
    display: none!important; 
  }
}

{% unless settings.custom-checkout-css == blank %}{{ settings.custom-checkout-css }}{% endunless %}



