
<!-- spurit_po-added -->
{% include 'spurit_po-cart-snippet' %}
<!-- /spurit_po-added -->
<!-- Bold: Options 4-1 --> 
<script>function update_qty_builder(builder_id, qty){ jQuery('.'+builder_id+"_qty").val(qty.value); } function remove_product_builder(builder_id){ jQuery('.'+builder_id+"_qty").val(0); jQuery('.'+builder_id+"_qty").parents("form").submit(); }</script>
{% include 'bold-cart-handler' %}
<!-- // end Options 4-1 -->


{% include 'theme-variables' %}
<section id="cart-wrap" class="section-wrap">
  {% include '__containers-open' %}
  <h1 class="page-header">{{ page_title }}</h1>
  
  {% if settings.cart-custom-notification-enable %}
      {{ settings.cart-custom-notification }}
  {% endif %}
  
  {% if has_cart and cart.item_count > 0 %}
  
  <script type="text/javascript">
    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cart').submit();
    }
  window.addEventListener('beforeunload', function(event) {
      document.getElementById('cart').submit();
    });
  </script>

  <div class="text-left">
    {% if settings.cart-page-content %}
    {{ pages[settings.cart-page-content].content }}
    {% endif %}
    <form action="/cart" method="post" id="cart">
      {% if customer.tags contains 'MemberID' %}   <input type="hidden" name="discount" value="MEMBERID" >   {% endif %}
      <div class="row">
        <div class="{% if settings.show-shipping-estimator %}col-md-9{% else %}col-md-12{% endif %}">
          <h3>{% include '__localize' with 'Your items' %}</h3>
          <table class="table {% include '__table-formatting' %}">
            <tbody>
              {% for i in cart.items %}
              {% include 'bold-cart-item' with i %}


                <!-- Bold: Options 4-2 -->
                {% include 'boldoptions' with 'step2' %}
                <!-- // end Options 4-2 -->

                {% include 'bold-cart-item' with item %}

              <tr class="cart__row" {% include 'boldoptions' with 'step3' %} {% include 'boldoptions' with 'step4' %}>
                <td class="col-sm-2 hidden-xs">

                  <!-- Bold: Options 4-5 -->
                  {% if builder[1] != blank and builder[1] != 'undefined' %}
                  <img src="{{ builder[1] }}" style="max-width:100px;max-height:100px;width: auto;height:auto;" alt="{{ builder[0] }}" /> 
                  {% else %}

                    {% comment  %} DO NOT COPY+PASTE THIS LINE ...  Existing image code goes here ... {% endcomment  %}
                    <img src="{{ i | img_url: 'medium' }}">

                  {% endif %}
                   <!-- // end Options 4-5 -->

                  
                </td>
                <td>
                  <h4>
                    {{ i.product.title | link_to: i.url }}<br>
                    
                    <!-- Bold: Options 4-6 -->
                    {% include 'boldoptions' with 'step6' %}
                    <!-- // end Options 4-6 -->

                    {% capture variantTitle %}{{ i.variant.title }}{% endcapture %}
                    {% unless variantTitle == 'Default Title' %}
                     <small class="text-muted">{{ i.variant.title }}</small>
                    {% endunless %}                    
                    
                    <small class="text-muted" style="margin-left: 10px; "><strong>SKU:</strong> {{ i.sku }}</small>
                  </h4>
                  <p>
                    <small class="text-muted">
                      <dl>
                        {% for p in i.properties %}
        {% if p.first.first == '_' %}{% continue %}{% endif %}
                        {% unless p.last == blank %}
                        <dt>{{ p.first }}:</dt>
                        <dd>
                          {% if p.last contains '/uploads/' %}
                          <a href="#{{ i.product.handle}}" data-toggle="modal">{{ p.last | split: '/' | last }}</a>
                          <div class="modal fade" id="{{ i.product.handle }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <img src="{{ p.last }}" alt="{{ p.first }}">
                              </div>
                            </div>
                          </div>
                          {% else %}
                          {{ p.last }}
                          {% endif %}
                        </dd>
                        {% endunless %}
                        {% endfor %}
                      </dl>
                    </small>
                  </p>
                </td>
                <td><span class='money'><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{% include 'boldoptions' with 'step13' %}</span></td>
                <td class="text-center col-xs-2">
                  {% assign product_max_qty = blank %}
                  {% if i.product.template_suffix == 'quantity-limit-1' %}
                  {% assign product_max_qty = 1 %}
                  {% elsif i.product.template_suffix == 'quantity-limit-2' %}
                  {% assign product_max_qty = 2 %}
                  {% elsif i.product.template_suffix == 'quantity-limit-3' %}
                  {% assign product_max_qty = 3 %}
                  {% elsif i.product.template_suffix == 'quantity-limit-4' %}
                  {% assign product_max_qty = 4 %}
                  {% elsif i.product.template_suffix == 'quantity-limit' %}
                  {% assign product_max_qty = settings.product-max-quantity  %}
                  {% endif %}

                  {% if i.variant.inventory_quantity <= 1 and i.variant.inventory_management == 'shopify' and i.variant.inventory_policy == 'deny' %}

                  <input type="hidden" name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}"/>
                  
                  {% comment %}BOLD OPTIONS CODE. THIS BREAKS THE CART SO ADD WITH CAUTION
                  IF YOU ADD THEN MAKE SURE TO COMMENT OUT THE LINES ABOVE.
                      <input type="hidden" name="updates[]" class="{% include 'boldoptions' with 'step7' %}" id="updates_{{ item.id }}" value="{{ i.quantity }}" {{ bold_qty_attr }} {% include 'boldoptions' with 'step8' %} />
                  {% endcomment %}

                  {{ i.quantity }}
                  {% else %}
                  <input type="number" class="form-control" name="updates[{{ i.id }}]" id="updates_{{ i.id }}" value="{{ i.quantity }}" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} onfocus="this.select();"{{ bold_qty_attr }}/>
                  {% endif %}
                </td>
                <td><a class="text-muted {% include 'boldoptions' with 'step10' %}" href="{% include 'boldoptions' with 'step9' %}" onclick="{% include 'boldoptions' with 'step11' %}"><i class="fa fa-times"></i></a></td>
                
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if settings.show-shipping-estimator %}
        <div class="col-md-3">
          {% include 'shipping-calculator' %}
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-9">
          &nbsp;
          {% comment %}<h4>{% include '__localize' with 'Any comments or special instructions?' %}</h4>
          <div class="collapse in cart-note-action">
            <a href="#cart-note" class="btn btn-default" data-toggle="collapse">Add note</a>
          </div>
          <div class="collapse cart-note" id="cart-note">
            <textarea id="note" name="note" class="form-control" rows="3">{{ cart.note }}</textarea>
          </div>{% endcomment %}
        </div>

        <div class="form-actions text-right col-sm-4 col-md-3">
          <div class="product-price"><small>{% include '__localize' with 'Sub-total' %}</small> <span class='money'><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>
<span class="saso-cart-original-total">{{ cart.total_price | money_with_currency | replace: ' ','&nbsp' }}</span>
<span class="saso-cart-total"></span>
</span></div>

          {% include 'free-shipping-message' %}

          {% if settings.show-agree-with-terms-and-conditions-checkbox %}
          {% comment %}Need to tidy this up{% endcomment %}
          <p style="float:none; text-align:right; clear: both; margin: 10px 0;">
            <input type="checkbox" id="agree" />
            <label for="agree">{% include '__localize' with '' %}I agree</label>
            <a class="read-terms" href="/pages/terms-of-use">with the terms and conditions.</a>
          </p>
          {% endif %}

          {% if settings.ajax-cart %}
          <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary btn-block btn-main" />
          {% else %}
          <div class="btn-group">
            <input type="submit" id="update-cart" name="update" value="{% include '__localize' with 'Update' %}" class="btn btn-default" />
            <input type="submit" name="checkout" value="{% include '__localize' with 'Checkout' %}" class="btn btn-primary btn-main" />
          </div>
          {% endif %}
          {% if additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {% comment %}<span class="text-muted">or</span>{% endcomment %}
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}

          {% include 'bongo-checkout-button' %}

          <!-- Bold: Loyalty Points - Step 5.1 -->
          <p class="bold-loyalties-cart-earn"></p>
          <!-- // end bold code -->
          
        </div>
      </div>
    </form>
  </div>

  {% else %}
  {% assign cart_message = 'Your cart is empty' %}
  {% unless has_cart %}{% assign cart_message = 'The shopping cart is currently disabled' %}{% endunless %}
  <p class="lead">
    {% include '__localize' with cart_message %}.{% unless settings.collection-to-link-to-if-cart-empty == blank %} <a href="{{ collections.[settings.collection-to-link-to-if-cart-empty].url }}">{% include '__localize' with 'Browse' %} {{ collections.[settings.collection-to-link-to-if-cart-empty].title }}</a>.{% endunless %}
  </p>
  {% endif %}
  {% include '__containers-close' %}
</section>

{% if settings.show-agree-with-terms-and-conditions-checkbox %}
<script>
  $('[name="checkout"], input[name="goto_pp"], input[name="goto_gc"]').click(function() {
    if($('#agree').is(':checked')){
      $(this).submit();
    }
    else{
      alert("{% include '__localize' with 'You must agree with the terms and conditions of sales to check out.' %}");
            return false;
            }
            });
</script>
{% endif %}

<script>
  
  $( document ).ready(function() {
      
        console.log('removing non-states from dropdown');
      
        //add indexOf method to Array if not supported by browser
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (obj, fromIndex) {
                if (fromIndex == null) {
                    fromIndex = 0;
                } else if (fromIndex < 0) {
                    fromIndex = Math.max(0, this.length + fromIndex);
                }
                for (var i = fromIndex, j = this.length; i < j; i++) {
                    if (this[i] === obj)
                        return i;
                }
                return -1;
            };
        }
            
        var undesired_options = [
                                  'American Samoa',
                                  'Armed Forces Americas',
                                  'Armed Forces Europe',
                                  'Armed Forces Pacific',
                                  'Federated States of Micronesia',
                                  'Guam',
                                  'Marshall Islands',
                                  'Northern Mariana Islands',
                                  'Palau',
                                  'Puerto Rico',
                                  'Virgin Islands'
                                ];
      
        $('#address_province option').each(function( index, option ){              
              //if undersired_options contains current option's value
              if( undesired_options.indexOf( option.value ) > -1 ){
          option.remove();
              }
        });
        
      
      
      
    });
  
  
</script>




<!-- Bold: Loyalty Points - Step 5.2 -->
{% if shop.metafields.bold_loyalties.active == 1 %}
<script src="//loy.boldapps.net/front_end/cart_js?shop={{shop.domain}}"></script>
{% endif %}
<!-- // end bold code -->


{% include 'bongo-checkout-form' %}
