{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header">{{ page_title }}</h1>
        <div class="balance-page-form">
            <form id="cart-balance-form">
                <div class="form-group">
                    <label class="control-label" for="giftcartFormInput">Gift Card</label>
                    <div class="controls">
                        <input type="text" id="giftcartFormInput" class="input-xlarge form-control" name="gift_card_code">
                    </div>
                </div>
                <button class="btn btn-primary" id="card-balance-form-submit" type="submit" disabled>Verify Card</button>
            </form>
            <br/>
            <form id="captcha-form" action="https://www.google.com/recaptcha/api/siteverify" method="POST">
                <div class="g-recaptcha" data-sitekey="6Lf7Ei8UAAAAAHwtTIecgqmQQD4OLTNQYJVGtlA1" data-callback="verifySubmitState" data-expired-callback="disableButton"></div>
            </form>
        </div>
        <div id="gift-card-message"></div>
	{% include '__containers-close' %}
</section>

