{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}


{% include 'theme-variables' %}

{% include 'product-page' %}


<!-- Bold: Loyalty Points - Step 4.3 -->
{% include 'bold-loyalties-product' %}
<!-- // end bold code -->

{% include 'product-vendor-description' %}

{% include 'product-footer' %}



<script type="text/javascript">

  // A $( document ).ready() block.
  $( document ).ready(function() {
    let checkExists = setInterval(() => {
        console.log( "ready!" );
        if ($("#auction-timer")[0]){
            console.log("auction timer exists remove purchase button");
            $( "#purchase" ).addClass( "remove" );
            clearInterval(checkExists);
        }
      });
  });

</script>