
<!-- spurit_po-added -->
{% include 'spurit_po-product-snippet' %}
<!-- /spurit_po-added -->
{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}


{% include 'theme-variables' %}

{% include 'product-page' %}

<!-- Bold: Loyalty Points - Step 4.3 -->
{% include 'bold-loyalties-product' %}
<!-- // end bold code -->

{% include 'product-vendor-description' %}

{% include 'product-footer' %}




{% comment %}
    This script works, but takes a second to load. Using the if tag exists on product-page instead
    <script>
        $(document).ready(function(){
            if ($('#auction-timer')) { 
                // The auction app exists ont this page
                // alert("The auction app exists ont this page");
                $("body").addClass("auction-true");
            }
        });
    </script>

    <style>
        .auction-true .product-price, .auction-true form#product-form {
            display: none;
        }  
    </style>
{% endcomment %}

